header{
    width: 100%;
    background-color: deepskyblue;

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        

        &__list{
            display: flex;
             column-gap: 40px;
             list-style-type: none;

             &--item{
                text-transform: uppercase;

                &-link{
                    text-decoration: none;
                    color:#000;
                    transition: all 0.3s ease;

                    &:hover{
                        color: #3333;
                    }
                }
             }
        }
    }
}